/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    scroll-behavior: smooth;
}

header {
    width: 75%;
    height: 80px;
    background-color: #fff;
    color: #333;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    padding-left: 10%;
}

nav ul {
    list-style: none;
    padding-left: 30px;
    margin: 0;
    display: flex;
    font-size: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #28a745; 
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10%; 
}

.hamburger div {
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}


.nav-links {
    display: flex;
}

@media (max-width: 768px) {
    header h1, .hamburger {
        padding-left: 10px;
        padding-top: 25px;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 9;
    }

    .nav-links.show {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
        padding-left: 10%;
    }

    .hamburger {
        display: flex;
    }
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('BG.png') no-repeat center center/cover;
    opacity: 0.9;
    z-index: -1;
}

.hero h1, .hero p, .hero button {
    z-index: 1;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero button {
    padding: 15px 30px;
    background-color: #28a745;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.hero button a {
    color: white; 
    text-decoration: none; 
}

.hero button:hover {
    background-color: #218838;
}

/* Donations Section */
.donations {
    background: linear-gradient(135deg, #2c3e50, #34495e);
    color: white;
    text-align: center;
    padding: 40px 5%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 90vh;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.donations .left, .donations .right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.donator-info, .total-donations, .meta-mask, .donation-form input {
    background-color: #2e4053;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.donation-form input, .wallet-button, .donate-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.donate-button {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.wallet-button:hover, .donate-button:hover {
    background-color: #218838;
}

.donate-button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 5%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0; 
    }

    .hero h1 {
        font-size: 2em;
    }

    .donations {
        flex-direction: column;
        height: auto;
    }

    .donations .left, .donations .right {
        width: 100%;
        margin-bottom: 20px;
    }
}

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 30px;
}


/* Responsive Design */
@media (max-width: 768px) {
    footer {
        padding: 20px;
        font-size: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}